.container {
  height: 100vh;
  background-image: url(../../assets/images/technology/background-technology-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

@media (min-width: 640px) {
  .container {
    background-image: url(../../assets/images/technology/background-technology-tablet.jpg);
  }
}

@media (min-width: 1024px) {
  .container {
    height: 100%;
    padding-bottom: 100px;
    background-image: url(../../assets/images/technology/background-technology-desktop.jpg);
  }
}
