.container {
  height: 100vh;
  background-image: url(../assets/images/background-destination-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.heading {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.7px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.heading-nr {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.25);
  margin-right: 19px;
}

@media (min-width: 640px) {
  .container {
    background-image: url(../assets/images/background-destination-tablet.jpg);
  }

  .heading {
    margin: 40px 0 60px 0;
    text-align: left;
    font-size: 20px;
    letter-spacing: 3.38px;
  }
}

@media (min-width: 1024px) {
}
