.container {
  height: 100vh;
  background-image: url(../assets/images/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.content-wrapper {
  text-align: center;
  margin-top: 48px;
}

@media (min-width: 640px) {
  .container {
    background-image: url(../assets/images/background-home-tablet.jpg);
  }

  .content-wrapper {
    width: 450px;
    margin: 106px auto 0 auto;
  }
}

@media (min-width: 1024px) {
  .container {
    background-image: url(../assets/images/background-home-desktop.jpg);
    background-position: top;
  }

  .content-wrapper {
    margin: 251px 0 0 165px;
  }
}
