.container {
  height: 100vh;
  background-image: url(../assets/images/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.content-wrapper {
  margin-top: 48px;
}

.text-wrapper {
  text-align: center;
}

.btn-wrapper {
  margin-top: 81px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 640px) {
  .container {
    background-image: url(../assets/images/background-home-tablet.jpg);
  }

  .content-wrapper {
    margin-top: 106px;
  }

  .text-wrapper {
    width: 450px;
    margin: 0 auto;
  }

  .btn-wrapper {
    margin-top: 156px;
  }
}

@media (min-width: 1024px) {
  .container {
    background-image: url(../assets/images/background-home-desktop.jpg);
    background-position: top;
  }

  .content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .content-wrapper {
    margin-top: 251px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 386px;
  }

  .text-wrapper {
    margin: 0;
    text-align: start;
  }

  .btn-wrapper {
    margin: 0;
  }
}
