.container {
  margin-top: 20px;
  text-align: center;
}

.heading {
  margin-bottom: 1px;
}

@media (min-width: 640px) {
  .heading {
    margin-bottom: 8px;
  }

  .sub-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 121px;
  }
}

@media (min-width: 1024px) {
  .container {
    margin-top: 37px;
    text-align: left;
  }

  .heading {
    margin-bottom: 14px;
  }

  .sub-content-wrapper {
    justify-content: flex-start;
    gap: 79px;
  }
}
